.profile {
	width: 180px;
	height: 80px;
	position: absolute;
	left: 200px;
	top: 120px;
	border-bottom: 1px solid lightgray;
}

.profile img {
	margin-bottom: 45px;
	width: 50px;
	height: 50px;
	/* border: 1px black solid; */
	/* display: inline-block; */
}

.profile ul {
	display: inline-block;
}

.profile .nickname {
	font-size: 20px;
	font-weight: bold;
	list-style: none;
}

.profile .edit {
	font-size: 15px;
	color: gray;
	list-style: none;
}

.memberlist {
	font-size: 20px;
	position: absolute;
	left: 200px;
	top: 230px;
}

.memberlist ul {
	padding: 0px;
}

.memberlist li {
	width: 180px;
	margin: 0 auto;
	border-top: 1px lightgray solid;
	border-bottom: 1px lightgray solid;
	list-style: none;
	padding-left: 10px;
}

.memberlist li.four {
	background-color: rgba(88, 169, 175, 1);
	color: white;
	font-weight: bold;
}

.content {
	position: absolute;
	background-color: #f5f4f3;
	left: 450px;
	top: 120px;
	width: 1000px;
	height: 550px;
	border: 1px lightgray solid;
}

.title {
	width: 1000px;
	height: 80px;
	background-color: rgba(88, 169, 175, 1);
}

.title div.titlebigname {
	width: 1000px;
	height: 35px;
	font-size: 25px;
	padding-top: 8px;
	padding-left: 20px;
	/* line-height:40px; */
	color: white;
}

.title div.titlesmallname {
	width: 1000px;
	height: 30px;
	padding-top: 8px;
	padding-left: 22px;
	color: white;
}

.showinfo {
	width: 1000px;
	height: 50px;
	/*   position:relative; */
	/* top:20px; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	/* border: 1px black solid; */
}

.showinfo2 {
	width: 1000px;
	height: 60px;
	/* position:relative; */
	/* top:40px; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	/* border: 1px black solid; */
}

.showinfo .addressNo {
	font-weight: bold;
}

.showinfo .customerName {
	font-weight: bold;
}

.showinfo .deliverPhone {
	font-weight: bold;
}

.showinfo .deliverAddress {
	font-weight: bold;
}

.showinfo .addressNo, .showinfo2 .addressNo {
	width: 50px;
	height: 60px;
	margin-left: 50px;
	font-size: 16px;
	line-height: 100px;
	text-align: center;
	/* display:inline; */
	vertical-align: middle;
}

.showinfo .customerName, .showinfo2 .customerName {
	width: 80px;
	height: 60px;
	/* margin-left: 30px; */
	font-size: 16px;
	line-height: 100px;
	text-align: center;
	/* display:inline; */
	vertical-align: middle;
}

.showinfo .deliverPhone, .showinfo2 .deliverPhone {
	width: 80px;
	height: 60px;
	/* margin-left: 80px; */
	/* font-size: 30px; */
	/* display:inline; */
	line-height: 100px;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
}

.showinfo .deliverAddress, .showinfo2 .deliverAddress {
	width: 300px;
	height: 60px;
	/* margin-left: 80px; */
	/* font-size: 30px; */
	/* display:inline; */
	line-height: 100px;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
}

.showinfo .delete {
	visibility: hidden;
}

.showinfo .edit {
	visibility: hidden;
}

.showinfo .delete, .showinfo .edit{
	background-color: rgba(88, 169, 175, 1);
	width: 60px;
	height: 40px;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	visibility: hidden;
}

.showinfo2 .deleteaddress .delete, .showinfo2 .editaddress .edit {
	background-color: rgba(88, 169, 175, 1);
	width: 60px;
	height: 40px;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	position: relative;
	top:20px;
}

.newaddress {
	width: 900px;
	height: 100px;
	position: relative;
	top: 50px;
	left: 50px;
	border-top: 1px lightgray solid;
}

.newaddress .insertaddress {
	position: relative;
	top: 30px;
	left: 400px;
	background-color: rgba(88, 169, 175, 1);
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

.total {
	zoom: 80%;
}