<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>TFA103G2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>connection.driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>

	<context-param>
		<param-name>connection.url</param-name>
		<param-value>jdbc:mysql://localhost:3306/fm01?serverTimezone=Asia/Taipei&amp;useSSL=false</param-value>
	</context-param>

	<context-param>
		<param-name>user</param-name>
		<param-value>David</param-value>
	</context-param>

	<context-param>
		<param-name>password</param-name>
		<param-value>123456</param-value>
	</context-param>

	<servlet>
		<servlet-name>AddressServlet</servlet-name>
		<servlet-class>com.address.controller.AddressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressServlet</servlet-name>
		<url-pattern>/address/address.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>MealServlet</servlet-name>
		<servlet-class>com.meal.controller.MealServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MealServlet</servlet-name>
		<url-pattern>/meal/meal.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RestaurantServlet</servlet-name>
		<servlet-class>com.restaurant.controller.RestaurantServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RestaurantServlet</servlet-name>
		<url-pattern>/restaurant/restaurant.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RestaurantStyleServlet</servlet-name>
		<servlet-class>com.restaurantstyle.controller.RestaurantStyleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RestaurantStyleServlet</servlet-name>
		<url-pattern>/restaurantstyle/restaurantstyle.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AchieveProgressServlet</servlet-name>
		<servlet-class>com.achieveprogress.controller.AchieveProgressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AchieveProgressServlet</servlet-name>
		<url-pattern>/Gary_pages/achieveprogress.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FoodArticleServlet</servlet-name>
		<servlet-class>com.foodarticle.controller.FoodArticleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FoodArticleServlet</servlet-name>
		<url-pattern>/article/fa.do</url-pattern>
	</servlet-mapping>
	
	


</web-app>